@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Jost:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    padding: 0;
    margin: 0;
    list-style-type: none !important;
    box-sizing: border-box !important;
    text-decoration: none !important;
    /* border: 1px solid green !important;     */
}

@font-face {
    font-family: Gilroy300;
    src: url("./assets/fonts/Gilroy-Light.ttf");
}

@font-face {
    font-family: Gilroy400;
    src: url("./assets/fonts/Gilroy-Regular.ttf");
}

@font-face {
    font-family: Gilroy500;
    src: url("./assets/fonts/Gilroy-Medium.ttf");
}

@font-face {
    font-family: Gilroy600;
    src: url("./assets/fonts/Gilroy-SemiBold.ttf");
}

@font-face {
    font-family: Gilroy700;
    src: url("./assets/fonts/Gilroy-Bold.ttf");
}

@font-face {
    font-family: Gilroy800;
    src: url("./assets/fonts/Gilroy-ExtraBold.ttf");
}

@font-face {
    font-family: Konexy;
    src: url('./assets//fonts/konexypersonaluse-rg3wk.otf');
}

/* ROOT START */
:root {
    --ff-Jost: 'Jost', sans-serif;
    --ff-Inter: 'Inter', sans-serif;
    --ff-Gilroy300: 'Gilroy300', sans-serif;
    --ff-Gilroy400: 'Gilroy400', sans-serif;
    --ff-Gilroy500: 'Gilroy500', sans-serif;
    --ff-Gilroy600: 'Gilroy600', sans-serif;
    --ff-Gilroy700: 'Gilroy700', sans-serif;
    --ff-Gilroy800: 'Gilroy800', sans-serif;
    --ff-Konexy: 'Konexy', sans-serif;
    /* FONT SIZE */
    --font-xs: 12px;
    --font-md: 13px;
    --font-lg: 18px;
    --font-xl: 24px;
    --font-2xl: 27px;
    --font-3xl: 30px;
    --font-4xl: 32px;
    /* COLOR */
    --color-white: #fff;
    --color-black: #000;
    --color-purple: #6022EA;
    --color-gray:#868687;

}

/* DEFINE FONT SIZE */

.ff_Jost {
    font-family: var(--ff-Jost) !important;
}
.ff_inter {
    font-family: var(--ff-Inter) !important;
}
.ff_Gilroy300 {
    font-family: var(--ff-Gilroy300) !important;
}

.ff_Gilroy400 {
    font-family: var(--ff-Gilroy400) !important;
}

.ff_Gilroy500 {
    font-family: var(--ff-Gilroy500) !important;
}

.ff_Gilroy600 {
    font-family: var(--ff-Gilroy600) !important;
}

.ff_Gilroy700 {
    font-family: var(--ff-Gilroy700) !important;
}

.ff_Gilroy800 {
    font-family: var(--ff-Gilroy800) !important;
}

.ff_Konexy{
    font-family: var(--ff-Konexy) !important;
}


.font_xs {
    font-size: var(--font-xs) !important;
}

.font_md {
    font-size: var(--font-md) !important;
}

.font_lg {
    font-size: var(--font-lg) !important;
}

.font_xl {
    font-size: var(--font-xl) !important;
}

.font_2xl {
    font-size: var(--font-2xl) !important;
}

.font_3xl {
    font-size: var(--font-3xl) !important;
}

.font_4xl {
    font-size: var(--font-4xl) !important;
}


/* FONT SIZE MEDIA QUERY */
@media (min-width: 575.98px) {
    :root {
        /* FONT SIZE */
        --font-xs: 14px;
        --font-md: 15px;
        --font-lg: 18px;
        --font-xl: 24px;
        --font-2xl: 32px;
        --font-3xl: 32px;
        --font-4xl: 40px;
    }
}

@media (min-width: 767.98px) {
    :root {
        /* FONT SIZE */
        --font-xs: 14px;
        --font-md: 15px;
        --font-lg: 22px;
        --font-xl: 28px;
        --font-2xl: 36px;
        --font-3xl: 40px;
        --font-4xl: 48px;
    }
}

@media (min-width: 991.98px) {
    :root {
        /* FONT SIZE */
        --font-xs: 14px;
        --font-md: 16px;
        --font-lg: 22px;
        --font-xl: 32px;
        --font-2xl: 38px;
        --font-3xl: 44px;
        --font-4xl: 52px;
    }
}

@media (min-width: 1200px) {
    :root {
        /* FONT SIZE */
        --font-xs: 14px;
        --font-md: 16px;
        --font-lg: 24px;
        --font-xl: 36px;
        --font-2xl: 40px;
        --font-3xl: 48px;
        --font-4xl: 62px;
    }
}

@media (min-width: 1400px){
    :root {
        /* FONT SIZE */
        --font-4xl: 72px;
    }
}
/* DEFINR COLOR */

.text_white {
    color: var(--color-white) !important;
}

.text_black {
    color: var(--color-black) !important;
}

.text_gray {
    color: var(--color-gray) !important;
}

.text_purple {
    color: var(--color-purple) !important;
}
.opacity07{
    opacity: 0.7;}